body {
  background: #1e2440;
  color: #f2efe2;
  font-size: 16px;
}

#scores{
  position: relative;
  border: whitesmoke 1px;
  min-height: max-content;
}
.row{
  display: block;
}
.cell{
  display: inline-block;
  width:40px;
  text-align: right;
  border-bottom: whitesmoke 1px solid;
}
.count{
  display: inline-block;
  width:20px;
  text-align: left;
  
}
p {
  display: inline;
}
.info{
  padding-top: 20px;
}

.mycontainer {
    max-width: 300px;
    margin: 0 auto;
    padding: 150px 100px;
    text-align: center;
}

@media (max-width: 768px) {
  .mycontainer {
    width: 85vw;
    max-width: 85vw;
  }
    	button {
        	margin-bottom: 10px;
	}
}
